<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.persistencia.mybatisimpl.mappers.RecursoMapper">

    <insert parameterType="map" id="registrarRecurso" >
        INSERT INTO recurso (nombre, ubicacion, tipo, capacidad,estado)
            VALUES (#{rec.nombre},#{rec.ubicacion},#{rec.tipo},#{rec.capacidad},true)
    </insert>


	<resultMap type='Recurso' id='RecursoResult'>
		<id property='identificadorInterno' column='id'/>
		<result property='nombre' column='nombre'/> 
		<result property='tipo' column='tipo'/>
		<result property='capacidad' column='capacidad'/>
		<result property='estado' column='estado'/>
        <result property='ubicacion' column='ubicacion'/>
    </resultMap>
  
  
  <select parameterType='map' id='consultarRecurso' resultMap='RecursoResult'>
    SELECT 
      id, 
      nombre,
      ubicacion,
      tipo,
      capacidad,
      estado
      
     FROM
      recurso
     WHERE
      id=#{id};
  </select>

  <select parameterType='map' id='consultarRecursos' resultMap='RecursoResult'>
    SELECT 
      id, 
      nombre,
      ubicacion,
      tipo,
      capacidad,
      recurso
    FROM
      reserva 
  </select>

  <insert parameterType="map" id="agregarRecurso">
    INSERT INTO recurso values (#{rec.id}, #{rec.nombre}, #{rec.ubicacion}, #{rec.tipo}, #{rec.capacidad}, #{rec.estado});
  </insert>
  
</mapper>